.header {
  margin: 0px 60px;
  &.imprinter {
    margin: auto !important;
  }
  .header_data {
    padding: 30px;
    background-color: rgb(226, 109, 90);
    border-radius: 4px;
    margin-top: 120px;
    .data_header {
      @include clearfix;
      background: white;
      height: 40px;
      margin: -30px;
      padding: 0 20px;
      .header_title {
        float: left;
        @include text-general-black($p900);
        line-height: 40px;
      }
    }
    .header_actions {
      float: right;
      @include clearfix;
      position: relative;
      .icon-check2 {
        position: absolute;
        right: 10px;
        color: $accent-500;
        font-size: 16px;
        top: 12px;
      }
      div:first-of-type {
        float: left;
        margin-right: 10px;
      }
      .icon-cross2 {
        position: absolute;
        right: 15px;
        font-size: 12px;
        top: 14px;
        font-weight: 800;
      }
      .actions_send {
        @include text-mini-black($p900);
        background: transparent;
        border: 1px solid $accent-500;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        height: 30px;
        margin-top: 5px;
        margin-left: 50px;
        width: 0;
        @include transition(.3s);
        &.active {
          width: 60px;
          opacity: 1;
          visibility: visible;
        }
      }
      .actions_load {
        cursor: pointer;
      }
      .actions_load:last-of-type {
        z-index: 0 !important;
        // background: $p500;
        height: 30px;
        margin-top: 5px;
        @include text-mini-black($p900);
        line-height: 30px;
        text-align: center;
        color: $p900 !important;
        border: 1px solid $accent-500;
        @include truncate;
        cursor: pointer;
         &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          @include text-mini-black($p900);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          @include text-mini-black($p900);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          @include text-mini-black($p900);
        }
        &:-moz-placeholder { /* Firefox 18- */
          @include text-mini-black($p900);
        }
      }
    }
    h3 {
      @include text-general($p500);
      margin-bottom: 30px;
      display: block;
      padding-bottom: 5px;
      /* background: #e26d5a; */
      /* width: 100px; */
      /* text-align: center; */
      /* margin-top: 20px; */
      border-bottom: 1px solid rgba(255,255,255, .3);
    }
    @include clearfix;
    .data_unit {
      margin-top: 20px;
      text-align: center;
      button {
        margin-top: 10px;
        background: $green;

      }
      .unit_title {
        @include text-mini-black($p500);
        text-transform: uppercase;
      }
      .unit_value {
        @include text-title-light($p500);
        font-size: 50px;
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 800;
      }
    }
  }
}

.header_menu {
  background: white;
  padding: 0 20px;
  height: 40px;
  .menu_list {
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;
    .list_item {
      float: left;
      margin-right: 50px;
      a {
        @include text-mini-black($p900);
        position: relative;
        line-height: 40px;
        height: 40px;
        text-transform: uppercase;
        display: block;
        &.active {
          color: $accent-500;
            &:after {
            position: absolute;
            content: '';
            bottom: -1px;
            height: 1px;
            width: 100%;
            left: 0;
            background: $accent-500;
          }
        }
      }
    }
  }
}

.machines_list {
  margin-top: 40px;
  padding: 0 60px;
  .orchestratorName, .orchestratorXpub {
    input {
      color: $p900;
    }
  }
}

// .table {
//   margin-top: 30px;
//   margin-bottom: 60px;
//   background: rgba(0, 0, 0, 0.04);
//   border-radius: 4px;
//   .table_action {
//     margin-top: 10px;
//     position: relative;
//     z-index: 999999999999;
//     @include clearfix;
//     margin-right: 10px;
//     .action_refresh {
//       margin: 0;
//       border-radius: 4px;
//       /* width: 200px; */
//       /* margin-right: 20px; */
//       /* text-align: left; */
//       background: transparent;
//       color: #f5f5f5;
//       cursor: pointer;
//       z-index: 999999999999;
//       width: 30px;
//       float: left;
//       margin-right: 10px;
//       &:active {
//         span {
//         @include rotate(-90deg)
//         }
//       }
//       span {
//         display: block;
//         line-height: 30px;
//         font-size: 18px;
//         color: $p200;
//         @include transition(.2s);
//       }
//     }
//     .action_recovery {
//       margin-left: 20px !important;
//       background: #96E6B3 !important;
//     }
//     .action_orchestrate, .action_recovery {
//       margin: 0;
//       border-radius: 4px;
//       background: #e26d5a;
//       color: #f5f5f5;
//       cursor: pointer;
//       z-index: 999999999999;
//       width: 160px;
//       float: left;
//       span {
//         text-align: left;
//         margin-left: 10px;
//         margin-right: 10px;
//         border-right: 1px solid rgba(245, 245, 245, .2);
//         padding-right: 10px;
//         padding-right: 10px;
//         text-align: center;
//         width: 50px;
//         display: inline-block;
//         margin-left: 0;
//         margin-left: -10px;
//         padding: 0;
//         margin-right: 10px;
//       }
//     }
//   }
//   .flex_table {
//     display: block;
//     margin: 0;
//     .table_row-head {
//       height: 50px;
//       background: none;
//       line-height: 50px;
//       padding-top: 0;
//       border-bottom: 1px solid #f9f9f9;
//     }
//   }
// }