// Primary Header
#main_header {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 9999999;
  background-color: $p800;
  height: 60px;
  color: white;
  border-bottom: 1px solid rgba(000, 000, 000, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);

.switch {
    position: relative;
    width: 50px;
    height: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 4px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #27416d;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: #e1e4e8;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  .right_recharge {
    width: 160px !important;
  }
  .right_mine, .right_recharge {
    border: 1px solid white;
    border-radius: 2px;
    @include text-mini-black(white);
    display: inline-block;
    width: 60px;
    margin-right: 15px;
    &.hover {
      background: #243a61;
    }
  }
  &.full {
    left: 30px;
  }
  .header_title {
    float: left;
    margin-left: 20px;
    height: 60px;
    line-height: 60px;
    i {
      @include text-mini(white);
      margin-left: 10px;
      float: left;
      line-height: 61px;
      font-style: normal;
      font-weight: 600;
    }
    h3 {
      color: white;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 60px;
      float: left;
      .icon-menu {
        font-size: 16px;
        vertical-align: initial;
        color: white;
        margin-right: 20px;
        @include transition(.2s);
        cursor: pointer;
        &:hover {
          color: $accent-500;
        }
        &.active {
          color: $accent-500;
          // display: inline-block;
        }
      }
    }
  }

  .header_profile {
    float: right;
    @include clearfix;
    line-height: 60px;
    .profile_name {
      float: left;
      @include text-general(white);
      margin-left: 0px;
      margin-right: 10px;
      line-height: 60px;
      font-size: 12px;
      font-weight: 500;
    }
    .profile_picture {
      height: 30px;
      width: 30px;
      margin-right: 0;
      margin-top: 15px;
      .picture_photo {
        height: 30px;
      }
    }
    .profile_picture {
      border-radius: 100%;
      position: relative;
      .picture_photo {
        border-radius: 100%;
      }
    }
  }
  .header_right {
    float: right;
    margin-right: 20px;
    line-height: 60px;
    height: 60px;
    .icon-dots-three-vertical {
      font-size: 14px;
      margin-left: 10px;
      line-height: 35px;
      color:white;
    }
    .buy_token {
      display: inline-block;
      border: 1px solid white;
      background: transparent;
      width: auto;
      padding: 0px 15px;
      line-height: 30px;
      height: 30px;
      text-align: center;
      margin-right: 30px;
    }
    .right_notification {
      position: relative;
      display: inline-block;
      line-height: 35px;
      span {
        vertical-align: middle;
        color: white;
      }
      .notification_dropdown.active {
        top: 50px;
        visibility: visible;
        opacity: 1;
      }
      .notification_dropdown {
        background: #fff;
        padding: 0 5px;
        width: 200px;
        position: absolute;
        margin-left: -80px;
        left: 50%;
        top: 40px;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0px rgba(21, 26, 29, 0.33);
        opacity: 0;
        visibility: hidden;
        top: 20px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        @include transition(.3s);
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 8px solid #8c8c8c;
          top: -8px;
          right: 50%;
          margin-right: -4px;
        }
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 8px solid #fff;
          top: -8px;
          right: 50%;
          margin-right: -4px;
        }
        .dropdown_title {
          @include text-mini-black($p100);
          background: white;
          text-align: center;
        }
        .dropdown_list {
          padding: 0;
          margin: 0;
          list-style: none;
          // padding: 5px 0;
          .list_item {
            @include text-mini-black(#74787b);
            padding: 10px 15px;
            margin: 0;
            font-weight: 500;
            @include transition(.3s);
            cursor: pointer;
            border-bottom: 1px solid #e2e2e2;
            position: relative;
            a {
              color: $p700;
            }
            &:last-of-type {
              border-bottom: none;
            }
            &:hover {
              color: $p100;
              &:before {
                  @include transition(.3s);
                  content: "";
                  position: absolute;
                  width: 5px;
                  /* height: 100%; */
                  background: #f6b000;
                  left: -6px;
                  top: 10px;
                  bottom: 10px;
              }
            }
          }
        }
      }
      span {
        font-size: 16px;
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
        &.icon-circle-with-cross {
          color: $accent-700;
        }
        // &.icon-bell {
        //   color: $p100;
        // }
        &.icon-plus {
          // color: $p100;
          font-weight: 200;
          cursor: pointer;
          @include transition(.3s);
          &:hover {
            color: $accent-500;
          }
        }
      }
    }
  }

  // .header_menu {
  //   @include clearfix;
  //   margin-right: 30px;
  //   display: inline-block;
  //   background: #f2f2f2;
  //   border-radius: 50px;
  //   height: 35px;
  //   // text-indent: 15px;
  //   width: 120px;
  //   position: relative;
  //   .menu_search {
  //     .icon-magnifying-glass {
  //       position: absolute;
  //       left: 12px;
  //       top: 10px;
  //       color: #5f5f5f;
  //     }
  //   }
  //   .search_label {
  //     width: 60px;
  //     display: inline-block;
  //     text-align: center;
  //     background: #508484;
  //     height: 27px;
  //     margin-left: 4px;
  //     margin-top: 3px;
  //     /* border: 1px solid #6bb58d; */
  //     /* border-top-left-radius: 4px; */
  //     /* border-bottom-left-radius: 4px; */
  //     font-size: 11px;
  //     border-radius: 3px;
  //     font-weight: 900;
  //     line-height: 20px;
  //     letter-spacing: 2px;
  //     color: #f5f5f5;
  //     line-height: 28px;
  //   }
  //   .search {
  //     width: 90px;
  //     height: 35px;
  //     line-height: 35px;
  //     background: none;
  //     border: none;
  //     padding-left: 35px;
  //     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  //       color: $gray;
  //       @include text-mini($p100);
  //       line-height: 35px;
  //     }
  //     &::-moz-placeholder { /* Firefox 19+ */
  //       color: $gray;
  //       @include text-mini($p100);
  //       line-height: 35px;
  //     }
  //     &:-ms-input-placeholder { /* IE 10+ */
  //       color: $gray;
  //       @include text-mini($p100);
  //       line-height: 35px;
  //     }
  //     &:-moz-placeholder { /* Firefox 18- */
  //       color: $gray;
  //       @include text-mini($p100);
  //       line-height: 35px;
  //     }
  //   }
  //   .menu_list {
  //     .list_item {
  //       position: relative;
  //       @include text-mini($p100);
  //       margin-right: 25px;
  //       margin-bottom: 0;
  //       display: inline-block;
  //       &:last-of-type {
  //         margin-right: 0;
  //       }
  //       i {
  //         display: block;
  //         font-size: 16px;
  //         margin-bottom: 5px;
  //         cursor: pointer;
  //         @include transition(.2s);
  //         &:hover {
  //           color: $accent-500;
  //         }
  //       }
  //       &.active {
  //         a {
  //           color: $accent-500;
  //         }
  //         &:after {
  //           content: "";
  //           position: absolute;
  //           width: 6px;
  //           height: 6px;
  //           border-radius: 100%;
  //           background: $accent-500;
  //           bottom: -10px;
  //           left: 50%;
  //           margin-left: -3px;
  //         }
  //       }
  //     }
  //   }
  // }
}

.header_side {
    position: absolute;
    width: 250px;
    bottom: 0;
    top: 60px;
    left: -250px;
    background: #29436f;
    z-index: 99999;
    box-shadow: 2px 1px 1px 0 rgb(39, 62, 103);
    @include transition(.3s);
    &.active {
      left: 0;
    }
    .side_title {
      @include section-title;
      margin-left: 20px;
      padding-top: 20px;
      margin-bottom: 20px;
    }
    .side_list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 20px;
      .list_item {
        @include text-mini-black(white);
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.1);
        margin-right: 20px;
        height: 25px;
        line-height: 25px;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, 0.113);
      }
    }
}
.ReactModal__Body--open {
  #secondary_header {
    z-index: -1;
  }
}
// Secondary Header
#secondary_header {
  position: fixed;
  top: 100px;
  left: 231px;
  right: 0;
  z-index: 99999;
  height: 130px;
  color: $p100;
  background-color: $p500;
  top: 120px;
  left: 231px;
  right: 0;
  z-index: 99999;
  height: 30px;
  @include transition(.3s);

  
  .header_title {
    @include text-title-light($p100);
    font-size: 40px;
    position: relative;
    padding-left: 60px;
    font-weight: 200;
    float: left;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 50px;
      height: 1px;
      background: $accent-500;
    }
  }
  .header_menu {
    //margin-top: 40px;
    float: right;
  }
  .header_breadcrumb {
    margin-left: 20px;
    float: left;
    line-height: 50px;
    @include clearfix;
    .breadcrumb_title {
      @include text-general($p100);
      font-size: 22px;
      margin-top: 20px;
      font-weight: 300;
      text-transform: capitalize;
      a {
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
  .header_menu.disactive {
    display: none;
  }
  .header_menu {
    &.disactive {
      display: none;
    }
    @include clearfix;
    .header_actions {
      .actions_groupButton {
        button {
          width: 130px;
          span {
            margin-right: 10px;
            padding-left: 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .header_information {
    float: right;
    margin-right: 30px;
    @include clearfix;
    margin-top: 25px;
    .information {
      float: left;
      @include clearfix;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      padding: 5px 8px;
      @include transition(.3s);
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        background: $p200;
        border-radius: 3px;
        .information_label {
          color: $p100;
        }
        .information_dropdown {
          opacity: 1;
          visibility: visible;
          top: 30px;
        }
      }
      .information_label {
        @include text-general($p200);
        @include transition(.3s);
      }
      .information_value {
        padding-left: 5px;
        @include text-general($p100);
        font-weight: 900;
      }
      .information_dropdown {
        @include dropdown;
        top: 40px;
      }
      &.role {
        .information_dropdown {
          left: 0;
        }
      }
    }
  }
}

.wrapper_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zmax;
  height: 50px;
  color: $p900;
  position: relative;
  .header_logo {
    background: url("../images/logo.svg") 50% 50% no-repeat;
    height: 30px;
    width: 72px;
    float: left;
    background-size: cover;
    @include clearfix;
    margin-left: 30px;
    margin-top: 10px;
  }
  .header_right {
    float: right;
    margin-top: 14px;

    ul {
      margin: 0;
      padding: 0;
      float: left;
      list-style: none;
      li {
        float: left;
        margin-right: 30px;
        a {
          @include text-general-black($p100);
          span {
            color: $p100;
          }
        }
      }
    }
  }
}

.header_profile {
  @include clearfix;
  margin-left: 20px;
  .icon-dots-three-vertical {
    &.disactive {
      display: none;
    }
  }
  .socket_reconnection {
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    font-size: 11px;
    /* float: left; */
    width: 124px;
    /* vertical-align: text-bottom; */
    height: auto;
    padding: 0;
    line-height: 24px;
    margin: 0;
    margin-right: 20px;
    @include transition(.3s);
    position: relative;
    top: -20px;
    &.active {
      top: 0;
      overflow: auto;
      visibility: visible;
    }
  }
  .profile_socket {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -2px;
    left: -4px;

    .Connected {
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: $green;
      border: 1px solid #fff;
    }
    .Disconnected {
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background-color: $red;
      border: 1px solid #fff;
    }
    .socket_status {
      text-align: center;
      text-shadow: 1px 1px 0px rgba(156, 164, 173, 0.16);
      vertical-align: middle;
      text-align: center;
    }
  }
  .profile_picture {
    display: inline-block;
    @include cover;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: top;
    .icon-cross {
      position: absolute;
      right: -26px;
      top: 7px;
      font-size: 20px;
      background: #313e47;
      color: $red;
      cursor: pointer;
      display: none;
      &.active {
        display: block;
      }
    }
    .picture_photo {
      border-radius: 4px;
      @include cover;
      background-image: url("../images/profile.jpg");
      height: 30px;
      border: 1px solid #fff;
    }
  }
  .profile_username {
    display: inline-block;
    .profile_status {
      letter-spacing: 1px;
      font-weight: 300;
      display: inline-block;
    }
  }
  // .profile_name {
  //   @include text-general-black($p100);
  //   @include truncate();
  //   width: 160px;
  // }

  .profile_actions {
    margin-left: 20px;
    vertical-align: middle;
  }
}

.header_secondary {
  position: fixed;
  // top: 86px;
  left: 260px;
  right: 30px;
  height: 40px;
  background: $accent-500;
  border-radius: 0px;
  top: 0px;
  z-index: 99999;
  @include transition(.3s);
  &.inactive {
    top: 0px;
  }
  &.active {
    top: 100px;
  }
  .secondary_list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    li {
      float: left;
      color: $p500;
      margin-right: 50px;
      @include text-mini-black($p500);
      text-transform: uppercase;
      line-height: 40px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 1px;
        top: 15px;
        bottom: 15px;
        right: -25px;
        background: rgba(245, 245, 245, .3);
      }
    }
  }
}
