#wrapper {
  padding-top: 0px;
  padding-bottom: 50px;
  height: 100vh;
  left: 230px;
  right: 0;
  top: 60px;
  position: fixed;
  overflow: auto;
  @include transition(.3s);
  &.w_infoSidebar {
    right: 250px;
    #secondary_header {
      right: 250px;
    }
  }
  &.no-side {
    padding-left: 0;
  }
}


.notFound {
  width: 230px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
  h1 {
    font-size: 15px;
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .notFound_monkey {
    background: url('../images/monkeys.gif');
    display: inline-block;
    height: 65px;
    width: 65px;
    background-size: contain;
  }
  .notFound_home {
    border-bottom: 2px solid $accent-500
  }
}

.home_temporary {
  width: 600px;
  margin: 0 auto;
  margin-top: 160px;
  h1, h2 {
    @include text-title-light($p100);
  }
  h2 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }
}


.wrapper_assetDirectory {
  margin-left: 30px;
  margin-right: 30px;
}