.feed {
  margin-top: 130px;
  padding-top: 40px;
  .graph_title {
    @include text-general-black($p100);
    margin-left: 50px;
    margin-top: 50px;
    font-size: 15px;
  }
  .large-4 {
    padding-right: 0;
  }
  .feed_list {
    padding-top: 0px;
    .list_title {
      padding-bottom: 24px;
      border-bottom: $separator;
      h4 {
        @include text-general-black($p100);
        margin-left: 50px;
        margin-top: 50px;
        font-size: 15px;
      }
    }
    .list {
      // position: fixed;
      // top: 170px;
      // bottom: 0px;
      // overflow-y: scroll;
      // background-color: $p700;
    }
  }
  .feed_item {
    border-bottom: $separator;
    padding: 20px 50px;;
    cursor: pointer;
    @include transition(.3s);
    &:hover {
      background-color: $p700;
      .item_actions {
        opacity: 1;
        visibility: visible;
      }
    }
    .item_info {
      @include clearfix;

      .info_image {
        float: left;
        @include clearfix;
        border-radius: 50%;
        @include circle;
        border: 1px solid $p100;
        width: 40px;
        height:40px;
        margin-right: 10px;
      }

      .info_profile {
        margin-top: -2px;
        .profile_date {
           @include text-mini-black($gray);

        }
        .profile_username {
          @include text-general-black($p100);
        }
      }
    }
    .item_message {
      @include text-general($gray);
      margin-top: 5px;
      span {
        font-weight: $l-font-weight;
      }
      .message_privilege {
        font-weight: $l-font-weight;
        color: $p100;
        border-bottom: 2px dotted;
      }

    }
    .item_actions {
      visibility: hidden;
      opacity: 0;
      overflow: visible;
      @include transition(.2s);
      float: right;
      @include clearfix;
      vertical-align: middle;
      margin-top: -45px;
      margin-right: 30px;
    }
  }

  .feed_title {
    @include text-mini-black($p100);
    margin-top: 30px;
    margin-left: 40px;
    font-size: 15px;
  }

  .feed_info {
    float: right;
    @include clearfix;
    margin-top: -20px;
    margin-right: 20px;
    .info_owner {
      @include text-mini($gray);
      line-height: 19px;
      text-transform: uppercase;
      margin-right: 20px;
      b {
        @include text-mini-black($p100);
        margin-left: 5px;
      }
    }
    .info_tokens {
      @include text-mini($gray);
      line-height: 19px;
      text-transform: uppercase;
      b {
        @include text-mini-black($accent-500);
        margin-left: 5px;
      }

    }
  }

  .feed_box {
    margin-top: 0px;
    //background-color: $p700;
    border-radius: 5px;
    padding: 40px 20px;
    padding-top: 0;
    @include clearfix;
    height: auto;
    position: relative;
    color: $p100;
    #bs_chart {

    }
    .box_graph {
      color: $p100;
      .browser-legend {
        @include text-mini($p100);
      }
      svg {
        .tooltip {
          background-color: rgba(38,47,57, .9);
          @include text-mini($p100);
        }

        g {
          path {
            cursor: pointer;
          }
          text {
            fill: $p100;
            stroke: $p100;
            color: $p100;
            text-transform: capitalize;

          }
        }
      }
    }
    .box_numbers {
      float: left;
      margin-top:90px;
      margin-left: 20px;
      padding-bottom: 10px;

      h3 {
        font-size: 60px;
        font-weight: 200;
        line-height: 60px;
        letter-spacing: 8px;
        color: $p100;
        margin-left: -10px;
      }
      h5 {
        text-transform: uppercase;
        margin-top: 5px;
        @include text-general-black($p200);
      }
    }
    .box_spec {
      float: right;
      @include clearfix;
      padding-left: 50px;
      border-left: $separator;
      .spec_list {
        list-style: none;
        padding: 0;
        margin: 0;
        .list_item {
          text-align: left;
          margin-bottom: 10px;
          .item_subject {
            display: inline-block;
            width: 100px;
          }
          .item_count {
            margin-left: 20px;
            text-align: right;
            float: right;
            @include clearfix;
          }
        }
      }
    }
    #nodes_graph, #connection_graph {
      float:left;
      @include clearfix;
      .graphText {
        @include text-mini-black($p100);
        text-transform: capitalize;
      }
      .graph_legend {
        @include text-mini-black($p100);
        text-transform: capitalize;
      }
    }
    .graph_infos {
      float: right;
      width: 300px;
      margin-top: 30px;
    }
  }

}


//
// .filters {
//   height: 60px;
//   background-color: $p300;
//   line-height: 60px;
//   padding: 0 30px;
//   position: fixed;
//   left: 220px;
//   right: 0;
//   z-index: $zmedium;
//   box-shadow: 0 2px 4px rgba(0,0,0,.2);
//   .filters_title {
//     float: left;
//     @include clearfix;
//     .title {
//       @include text-general-black($p100);
//       display: inline-block;
//       margin-left: 10px;
//       margin-right: 30px;
//     }
//   }
//   .filters {
//     float: left;
//     @include clearfix;
//     border-left: $separator;
//     height: 60px;
//     select {
//       height: 60px;
//       background: transparent;
//       border: 0;
//       border-radius: 0;
//       padding: 0 10px;
//       width: 130px;
//     }
//   }
//   .filters_search {
//     float: right;
//     @include clearfix;
//     input {
//       margin: 0;
//       margin-top: 10px;
//       text-indent: 0;
//     }
//   }
// }

.tooltip_text {
  @include text-mini($p100);
  float: left;

  @include clearfix;
  text-align: left;
}

.svgContainer {
  position: absolute;
  left: 0;
  height: 284px;
  @include text-mini($p100);
  @include transition(.2s);
  &.inactive {
    width: 0;
    left: -20px;
    @include transition-out(.2s);
    g {
      rect {
        @include transition-out(.2s);
        visibility: hidden;
      }
      text {
        @include transition-out(.2s);
        visibility: hidden;
      }
    }
  }
  &.active {
    width: 200px;
    left: 0;
    @include transition(.2s);
    g {
      rect {
        @include transition(.2s);
        width: 200px;
      }
      text {
        @include transition(.2s);
        width: 200px;
      }
    }
  }
}

.dashboard_token {
  padding-top: 70px;
}
