.pin_matrix {
  width: 230px;
  height: 230px;
  margin: 0 auto;
  margin-top: 50px;
  .matrix_column {
    margin-bottom: 5px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .matrix_input {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    @include transition(.3s);
    background-color: $p100;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.5);
    span {
      color: $p700;
      font-size: 12px;
      line-height: 70px;
    }
    &:active {
      @include transition(.3s);
      background-color: $accent-500;
      span {
        color: $p100;
      }
    }
    &:nth-of-type(2n) {
      margin-left: 10px;
    }
    &:last-of-type {
      margin-right: 0;
      float: right;
    }
    -webkit-columns: 300px 2;
   -moz-columns: 300px 2;
        columns: 300px 2;
  }
}


.pin_sequence {
  margin: 0 auto;
  text-align: center;
  width: 320px;
  margin-top: 50px;
  @include clearfix;
  input {
    margin-right: 10px;
    float: left;
    width: 70px;
    border-bottom: 3px solid $p100;
    text-indent: 0;
    font-size: 30px;
    padding: 0;
    text-align: center;
    color: $accent-500;
    &::-webkit-input-placeholder {
      color: $p100;
      opacity: .7;
      text-align: center;
      font-size: 30px;
      padding: 0;
      margin: 0;
    }
    &::-moz-placeholder {
      color: $p300;
      opacity: .7;
      text-align: center;
      font-size: 40px;
    }
    &:-ms-input-placeholder {
      color: $p300;
      opacity: .7;
      text-align: center;
      font-size: 40px;
    }
  }
}

.reset_pin {
  width: 160px;
  margin: 0 auto;
  margin-top: 30px;
}
