
.header_overview {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: white;
  &.visibility {
    display: none;
  }
}
.primary_info {
  @include clearfix;
  height: 125px;
  line-height: 125px;
  padding: 25px 20px;
  border-bottom: 1px solid rgba(000, 000, 000, 0.1);
  .info_image{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #d7d7d7;
    float: left;
  }
  .info_name {
    @include text-title-light($p900);
    float: left;
    line-height: 75px;
    margin-left: 20px;
  }
}
.dashboard_menu {
  @include clearfix;
  height: 35px;
  padding-left: 20px;
  line-height: 35px;
  border-bottom: 1px solid rgba(000, 000, 000, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  background: white;
  &.disactive {
    display: none;
  }
  .menu_actions {
    float: right;
    .actions_contract {
      &.active {
        position: static;
        background: $accent-500;
        color: white;
        border: none;
        &:hover {
          position: static;
          background: $accent-500;
          color: white;
          border: none;
        }
      }
      border: 1px solid $p700;
      border-radius: 4px;
      line-height: 20px;
      margin-right: 20px;
      color: $p700;
      @include transition(.3s);
      height: 26px;
      line-height: 26px;
      display: inline-block;
      width: 170px;
      text-align: center;
      margin-top: 2px;
      &:hover {
        background: $p700;
        color: white;
      }
    }
  }
  button {
    float: left;
    width: auto;
    background: none;
    height: 35px;
    line-height: 35px;
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 50px;
    a {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 11px;
      color: $p900;
      span {
        margin-right: 10px;
      }
    }
    .active {
      position: relative;
      height: 36px;
      display: block;
      font-weight: 600;
      line-height: 35px;
      color: $accent-500;
      &:after {
        position: absolute;
        content: '';
        bottom: 1px;
        left: 0px;
        right: 0px;
        height: 3px;
        background: $accent-500;
      }
    }
  }
  .info {
    @include clearfix;
    margin-left: 30px;
     .value {
      @include text-general-black($p100);
      height: 35px;
      line-height: 35px;
      float: left;
      margin-right: 10px;
      span {
       @include text-general($p100);
       margin-left: 5px;
      }
    }
    .info_separator {
      width: 3px;
      height: 3px;
      background: $p100;
      line-height: 35px;
      float: left;
      margin-right: 10px;
      vertical-align: middle;
      margin-top: 16px;
      border-radius: 100%;
    }
  }
  .info_value {
    margin-top: 40px;
    margin-right: 80px;
    float: left;
    .value_title {
      @include text-mini-black($p100);
      text-transform: uppercase;
      margin-top: 5px;
    }
   
    .balance_fiat {
      @include text-mini-title(#81868C);
      span {
        @include text-mini-title(#81868C);
        text-transform: uppercase;
        margin-left: 5px;
      }
    }
  }
  .info_actions {
    margin-left: 20px;
    @include clearfix;
    margin-top: 30px;
    margin-bottom: 40px;
    .actions_deposit {
      background: $green;
      width: 180px;
    }
    button {
      margin-bottom: 0px;
      height: 30px;
      background-color: $p700;
      border-radius: 2px;
      font-size: 12px;
      font-weight: bold;
      color: $p100;
      letter-spacing: 2px;
      line-height: 25px;
      text-transform: initial;
      display: inline-block;
      width: 180px;
      margin-right: 20px;
      border-radius: 100px;
      &.actions_xpub, &.actions_contract {
        background-color: transparent;
        border: 1px solid $p100;
        .contract_icon {
          width: 12px;
    height: 17px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          background-size: cover;
          background-repeat: no-repeat;
          background: url('../images/timbro.svg')
        }
        .xpub_icon {
          width: 10px;
          height: 13px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          background-size: cover;
          background-repeat: no-repeat;
          background: url('../images/key.svg')
        }
      }
    }
  }
}


.ReactTabs {
  display: block;
  text-align: center;
  margin-top: -40px;
  .ReactTabs__Tab[role=tab][aria-selected=true] {
    color: $accent-500;
    background: none;
    border: none;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $accent-500;
      bottom: -2px;
      left: 0;
    }
  }
  .ReactTabs__TabList {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 0 rgba(245, 245, 245, 0.1);
    border-bottom: 1px solid #343e4a;
    li {
      background: trasparent !important;
      border-color: none !important;
      border-radius: 0 !important;
      display: inline-block;
      margin-left: 30px;
      @include text-mini-black($p100);
      position: relative;
      line-height: 10px;
      position: relative;
      padding: 20px 0;
      &.active {
        color: $accent-500;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background-color: $accent-500;
          bottom: -2px;
          left: 0;
        }
      }
    }
  }
}

.feed_operation {
  margin-left: 30px;
  @include section-title();
}

.dashboard_operations {
  .flex_table {
    padding-top: 70px;
  }
}

.activities_info {
  margin-left: 30px;
  
  .info {
    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    height: 110px;
    line-height: 110px;
    @include clearfix;
  }
  .info_title {
    font-size: 13px;
    font-weight: 900;
    /* line-height: 20px; */
    letter-spacing: 2px;
    color: #f5f5f5;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transform-origin: 0% 0% 0%;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: -40px;
    margin-top: -20px;
    
  }
  .info_title.contracts {
      margin-top: -3px;
    }
  .info_value {
    @include text-title-light($p100);
    font-size: 40px;
    font-weight: 300;
    line-height: 110px;
    letter-spacing: 1px;
    color: #f5f5f5;
    margin-left: -20px;
  }
}


.info_overwiew {
  border-radius: 0px;
  padding: 20px;
  background:white;
  @include clearfix;
  .overview_add_contract {
    float: right;
    width: 160px;
    border-radius: 4px;
    margin-top: -40px;
    height: 30px;
    background: $accent-500;
    position: relative;
    a {
      position: absolute;
      left: 0;
      right: 0;
      height: 30px;
      line-height: 30px;
      top: 0;
    }
    span {
      padding-right: 10px;
    }
  }
    h4 {
      font-size: 14px;
      color: #fff;
      letter-spacing: 2px;
      padding-bottom: 10px;
      font-weight: 400;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .overview_box {
      margin-top: 60px;
      margin-bottom: 60px;
      float: left;
      color: #fff;
      margin-right: 50px;
      h3 {
        font-size: 36px;
        letter-spacing: 6px;
        margin-bottom: 20px;
        font-weight: 200;
      }
      span {
        @include text-mini-black(#fff);
        text-transform: uppercase;
      }
    }
}